@using System.Globalization
@model Enum

<ul class="list-group">

    @if (EnumHelper.IsValidForEnumHelper(ViewData.ModelMetadata))
    {
        // Provide radio buttons for current Enum value
        string name = ViewData.ModelMetadata.PropertyName;
        string id = Html.IdForModel().ToString();
        int itemNum = 1;

        foreach (SelectListItem item in EnumHelper.GetSelectList(ViewData.ModelMetadata, Model))
        {
            if (item.Value != string.Empty)
            {
                string myId = id + item.Value.ToString(CultureInfo.InvariantCulture);
                string myChecked = item.Selected ? "checked" : null;


                <li class="list-group-item">
                    <input type="radio" id="@(myId)" name="@(name)" value="@(item.Value)" checked="@(myChecked)" /> @(item.Text)
                </li>
            }
        }
    }
    else
    {
        // This Enum type is not supported.  Fall back to a text box.
        @Html.TextBoxFor(model => model, new {htmlAttributes = new {@class = "form-control"}})
    }
</ul>