@model FinancialPlanner.Infrastructure.Domain.ItemDetail.ViewModels.InitialAmountView

@if (ViewData["Action"].ToString() == "Edit")
{
    @Html.HiddenFor(model => model.PkID)
    @Html.HiddenFor(model => model.UserName)
}

<div class="form-group row">
    @Html.LabelFor(model => model.StrAmount, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.StrAmount, "_Currency")
        @Html.ValidationMessageFor(model => model.StrAmount, "", new {@class = "text-danger"})
    </div>
</div>

@*<div id="BeginDateDiv" class="form-group row">	// Archive
    @Html.LabelFor(model => model.BeginDate, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.BeginDate, "_Date")
        @Html.ValidationMessageFor(model => model.BeginDate, "", new {@class = "text-danger"})
    </div>
</div>*@






