@model IEnumerable<FinancialPlanner.Data.Entity.InitialAmount>

@{
    ViewBag.Title = "Index";
    var exists = bool.Parse(ViewData["Exists"].ToString());
}

<h4>Initial Amount</h4>

@if (!exists)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <p>
        &nbsp;
    </p>
}

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        @*<th>	// Archive
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.PkID})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount, "_Currency")
            </td>
            @*<td>	// Archive
                @Html.DisplayFor(modelItem => item.BeginDate, "_Date")
            </td>*@
        </tr>
    }

</table>